body{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

#container{
    display:flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 2px solid black;
}
button{
    margin:20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}